# Panvara
# .env.example    2026-07-14
#
# @link    : https://github.com/shezw/panvara
# @author  : shezw
# @email   : hello@shezw.com

PANVARA_PROFILE=lite
PANVARA_HTTP_ADDR=127.0.0.1:8080
PANVARA_DATABASE_URL=postgres://panvara:panvara-dev@127.0.0.1:5432/panvara?sslmode=disable
PANVARA_LOG_LEVEL=info
PANVARA_COMPOSE_PROJECT=panvara
PANVARA_POSTGRES_PORT=5432
